@model EditMemberViewModel

<div id="editMemberModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Member</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditMember" asp-controller="Members">

            <!-- Hidden input for the member ID -->
            <input asp-for="Id" id="MemberEditId" readonly type="hidden" />

            <div class="image-previewer circle">
                <img src="" class="image-preview" alt="" />
                <input asp-for="UserImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <div class="field-group">
                    <input asp-for="FirstName" id="EditFirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <div class="field-group">
                    <input asp-for="LastName" id="EditLastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" id="EditEmail" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" id="EditPhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" id="EditJobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address.StreetName"></label>
                <div class="field-group">
                    <input asp-for="Address.StreetName" />
                    <span asp-validation-for="Address.StreetName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode"></label>
                <div class="field-group">
                    <input asp-for="Address.PostalCode" />
                    <span asp-validation-for="Address.PostalCode"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address.City"></label>
                <div class="field-group">
                    <input asp-for="Address.City" />
                    <span asp-validation-for="Address.City"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="SelectedDay">Date of Birth</label>
                <div class="d-flex">
                    <div class="field-group">
                        <select asp-for="SelectedDay" class="form-control" id="EditSelectedDay" aria-label="Select day">
                            <option value="">Day</option>
                            @for (var i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedDay"></span>
                    </div>

                    <div class="field-group">
                        <select asp-for="SelectedMonth" class="form-control" id="EditSelectedMonth" aria-label="Select month">
                            <option value="">Month</option>
                            @for (var i = 1; i <= 12; i++)
                            {
                                <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedMonth"></span>
                    </div>

                    <div class="field-group">
                        <select asp-for="SelectedYear" class="form-control" id="EditSelectedYear" aria-label="Select year">
                            <option value="">Year</option>
                            @for (var i = DateTime.Now.Year; i >= 1900; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedYear"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Save</button>
        </form>

    </div>
</div>

@* @await Html.PartialAsync("_ValidationScripts") *@
