@model MemberListItemViewModel

<div class="card member">
    <div class="pos-right">
        <button type="button" class="btn-menu-toggle btn-edit-menu" data-type="dropdown" data-target="#memberItemDropdown-@Model.Id"></button>
        <partial name="Partials/Sections/Members/_MemberItemDropdownPartial" model="Model" />
    </div>
    
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="avatar">
            <img src="@Model.ImageUrl" alt="@Model.AltText" />
        </div>
    }
    else
    {
        <div class="avatar">
            <img src="/images/profiles/user-template-male.svg" alt="Default Avatar" />
        </div>
    }

    <h4 class="name">@Model.FirstName @Model.LastName</h4>
    <div class="job-title">@Model.JobTitle</div>
    <div class="email">@Model.Email</div>
    <div class="phone-number">@Model.PhoneNumber</div>
    <div class="role"></div>
    <button class="btn-nocol btn-gray">Message</button>

    @* <p>Image Path: @Model.ImageUrl</p> *@
    @* <p>Exists? @(string.IsNullOrEmpty(Model.ImageUrl) ? "No" : "Yes")</p> *@
    @* <p>BirthDate: @Model.DateOfBirth?.ToString("dd-MM-yyyy")</p> *@
    @* <p>StreetName: @Model.Address</p> *@
</div>