@model User

<div class="card member">
    <div class="pos-right">
        <button type="button" data-modal="true" data-target="#editMemberModal" class="btn-edit"></button>
    </div>
    @if (Model.ProfileImage != null && !string.IsNullOrEmpty(Model.ProfileImage.ImageUrl))
    {
        <div class="avatar">
            <img src="@Model.ProfileImage.ImageUrl" alt="@Model.ProfileImage.AltText" />
        </div>
    }
    else
    {
        <div class="avatar">
            <img src="/images/profiles/user-template-male.svg" alt="Default Avatar" />
        </div>
    }
    <h4 class="name">@Model.FirstName @Model.LastName</h4>
    <div class="job-title">@Model.JobTitle</div>
    <div class="email">@Model.Email</div>
    <div class="phone-number">@Model.PhoneNumber</div>
    <div class="role"></div>
    <button class="btn-nocol btn-gray">Message</button>

    <p>Image Path: @Model.ProfileImage?.ImageUrl</p>
    <p>Exists? @(Model.ProfileImage != null)</p>
    <p>BirthDate: @Model.DateOfBirth</p>
</div>
