@model Member

<div class="card member">
    <button type="button" data-modal="true" data-target="#editMemberModal" class="btn btn-edit">Edit Member</button>
    <div class="avatar">img</div>
    <h4 class="name">@Model.FirstName @Model.LastName</h4>
    <div class="job-title">@Model.JobTitle CEO</div>
    <div class="email">@Model.Email</div>
    <div class="phone-number">@Model.PhoneNumber</div>
    <div class="role"></div>
    <button class="btn-nocol btn-gray">Message</button>
</div>