@model ProjectListItemViewModel

<div class="card project">
    <div class="pos-right">
        <button type="button" data-modal="true" data-target="#editProjectModal" class="btn-edit"></button>
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="avatar">
            <img src="@Model.ImageUrl" alt="@Model.ProjectName" />
        </div>
    }
    else
    {
        <div class="avatar">
            <img src="/images/projects/project-template.svg" alt="Default Project Image" />
        </div>
    }

    <h4 class="name">@Model.ProjectName</h4>
    <div class="description">@Model.Description</div>
    <div class="budget">@Model.Budget?.ToString("C")</div> <!-- Format budget as currency -->
    <div class="start-date">@Model.StartDate.ToString("dd-MM-yyyy")</div> <!-- Format date -->
    <div class="end-date">@Model.EndDate?.ToString("dd-MM-yyyy")</div> <!-- Format date -->
    <div class="status">@Model.Status</div> <!-- Display status name -->

    <button class="btn-nocol btn-gray">Message</button>

    @* <p>Image URL: @Model.ImageUrl</p> *@
    @* <p>Exists? @(string.IsNullOrEmpty(Model.ImageUrl) ? "No" : "Yes")</p> *@
    @* <p>Status: @Model.Status</p> *@
</div>